.linkHover a:hover
{
	color: #e99c2e;
}

.linkAtivo a
{
	color: #e99c2e;
}


.mt-1
{
	margin-top: .25rem!important;
}

.mt-2
{
	margin-top: .5rem!important;
}

.mt-3
{
	margin-top: 1rem!important;
}

.mt-4
{
	margin-top: 1.5rem!important;
}

.mt-5
{
	margin-top: 3rem!important;
}

.imagemShop
{
	height: 250px!important;
	width: 300px!important;
}


/* Utilizado para fazer logout no shop */
.dropdown_shop
{
    position: relative;
    display: inline-block;
}

.dropdown-content_shop
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    cursor: pointer;
}

.dropdown_shop:hover .dropdown-content_shop
{
    display: block;
}

.shop_sair:hover
{
    color: #e99c2e;
}

.old-price{
    text-decoration: line-through;
}

  .justify-content-center
{
	-ms-flex-pack: center!important;
	justify-content: center!important
}

.float-center
{
	float: center!important
}


.page-item.active .page-link{
    background-color:#e99c2e;
    border-color: #e99c2e;
    box-shadow: none;
}

.page-item.active .page-link:hover{
    background-color:#e99c2e;
    border-color: #e99c2e;
    box-shadow: none;
}


.imagemCarrossel
{
	height: 500px!important;
	width: 500px!important;
}

.imagemLancamentos
{
	height: 200px!important;
	width: 200px!important;
}

.imagemMaisVendidos
{
	height: 300px!important;
	width: 300px!important;
}

.imagemProdutoLoja
{
	height: 500px!important;
	width: 500px!important;
}

.divLoja
{
    border-style: solid;
    height:500px;
    border-width: 2px;
    border-radius: 5px;
    background-color: #f8f9fc;
}

.camposLoja
{
    font-weight: bolder;
    color: #e99c2e;

}

.valoresCamposLoja
{
    font-size: 150%;
}

.botao_comprar_loja_produto
{
    width: 100%!important;
}




.linkMaisVendidos:hover
{
    color: #e99c2e!important;
}


.titleHover:hover
{
    color: #e99c2e!important;
}
