.linkHover a:hover
{
	color: #e99c2e;
}

.linkAtivo a
{
	color: #e99c2e;
}


.mt-1
{
	margin-top: .25rem!important
}

.mt-2
{
	margin-top: .5rem!important
}

.mt-3
{
	margin-top: 1rem!important
}

.mt-4
{
	margin-top: 1.5rem!important
}

.mt-5
{
	margin-top: 3rem!important
}

.imagemShop
{
	height: 300px!important;
	width: 300px!important;
}



