.linkHover a:hover
{
	color: #e99c2e;
}

.linkAtivo a
{
	color: #e99c2e;
}


.mt-1
{
	margin-top: .25rem!important;
}

.mt-2
{
	margin-top: .5rem!important;
}

.mt-3
{
	margin-top: 1rem!important;
}

.mt-4
{
	margin-top: 1.5rem!important;
}

.mt-5
{
	margin-top: 3rem!important;
}

.imagemShop
{
	height: 300px!important;
	width: 300px!important;
}


/* Utilizado para fazer logout no shop */
.dropdown_shop
{
    position: relative;
    display: inline-block;
  }

  .dropdown-content_shop
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    cursor: pointer;
  }

  .dropdown_shop:hover .dropdown-content_shop
  {
    display: block;
  }

  .shop_sair:hover
  {
    color: #e99c2e;
  }

